* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.container {
    width: 90%;
}

// @media only screen and (min-width: 601px) {
//     .row .col.m2 {
//         width: 24.666667%;
//     }
// }


// @media only screen and (min-width: 410px) {
//     .row .col.m2 {
//         width: 49.333333%;
//     }
// }