.nav {
    background-image: linear-gradient(to right bottom, $primary-color-dark(25%), $primary-color-light);

    .brand-logo {
        font-family: 'Alex Brush', cursive;
        font-size: 4.4rem
    }
}